@import '~bootstrap/scss/bootstrap';

$body-bg-color: #92a8d1;
$light: #f9d5e5;
$box-color: #f7786b;
$box-hover: #f7cac9;
$dark: #034f84;
$link: #0964a5;
$link-hover: #bc5a45;

a {
  text-decoration: underline;
  color: $link;
  &:hover {
    color: $link-hover;
  }
}

body {
  background-color: $body-bg-color;
  color: $dark;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}

.box {
  align-items: center;
  background-color: $box-color;
  border: 1px solid $light;
  color: $light;
  font-size: 2rem;
  display: flex;
  height: 15vh;
  justify-content: center;
  &:hover {
    background-color: $box-hover;
    color: $dark;
    transition: .3s;
  }
}

.box-small {
  align-items: center;
  background-color: $box-color;
  border: 1px solid $light;
  color: $light;
  font-size: 2rem;
  display: flex;
  height: 7vh;
  justify-content: center;
}

button {
  margin: 10px;
}

figcaption {
  font-size: 0.9rem;
}

footer {
  margin: 0 auto;
  bottom: 0;
}

.footer {
  padding: 10px;
  margin: 0 400px;
  font-size: 0.8rem;
}

h1 {
  font-family: 'Sawarabi Gothic', sans-serif;
  padding-top: 12px;
}

input {
  padding-bottom: 3px;
}

#sign-out {
  display: inline;
}

.auth-forms {
  margin: 0 auto;
  width: 50vh;
}

.game-forms {
  margin: 0 auto;
  width: 21vh;
}

.btn-game {
  background-color: $light;
  color: $dark;
  margin-top: 3px;
}

.img-wrapper {
  background: $secondary;
  border-radius: 20px;
  color: $light;
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 10px;
  width: 50vh;
}

.gameboard {
  width: 45vh;
}

.gameboard-small {
  width: 15vh;
}

.row {
  align-content: center;
  justify-content: center;
}

.container {
  justify-content: center;
  margin: 0 auto;
}

.container-small {
  justify-content: center;
  margin: 0 auto;
}

.nav {
  justify-content: center;
}

.wrapper {
  margin: 0 auto;
}

// $particles: 50;
// $width: 500;
// $height: 500;
//
// // Create the explosion...
// $box-shadow: ();
// $box-shadow2: ();
// @for $i from 0 through $particles {
//   $box-shadow: $box-shadow,
//                random($width)-$width / 2 + px
//                random($height)-$height / 1.2 + px
//                hsl(random(360), 100, 50);
//   $box-shadow2: $box-shadow2, 0 0 #fff
// }
// @mixin keyframes ($animationName) {
//     @-webkit-keyframes #{$animationName} {
//         @content;
//     }
//
//     @-moz-keyframes #{$animationName} {
//         @content;
//     }
//
//     @-o-keyframes #{$animationName} {
//         @content;
//     }
//
//     @-ms-keyframes #{$animationName} {
//         @content;
//     }
//
//     @keyframes #{$animationName} {
//         @content;
//     }
// }
//
// @mixin animation-delay ($settings) {
//     -moz-animation-delay: $settings;
//     -webkit-animation-delay: $settings;
//     -o-animation-delay: $settings;
//     -ms-animation-delay: $settings;
//     animation-delay: $settings;
// }
//
// @mixin animation-duration ($settings) {
//     -moz-animation-duration: $settings;
//     -webkit-animation-duration: $settings;
//     -o-animation-duration: $settings;
//     -ms-animation-duration: $settings;
//     animation-duration: $settings;
// }
//
// @mixin animation ($settings) {
//     -moz-animation: $settings;
//     -webkit-animation: $settings;
//     -o-animation: $settings;
//     -ms-animation: $settings;
//     animation: $settings;
// }
//
// @mixin transform ($settings) {
//     transform: $settings;
//     -moz-transform: $settings;
//     -webkit-transform: $settings;
//     -o-transform: $settings;
//     -ms-transform: $settings;
// }
//
// body {
//   margin:0;
//   padding:0;
//   overflow: hidden;
// }
//
// .pyro > .before, .pyro > .after {
//   position: absolute;
//   width: 5px;
//   height: 5px;
//   border-radius: 50%;
//   box-shadow: $box-shadow2;
//   @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
// }
//
// .pyro > .after {
//   @include animation-delay((1.25s, 1.25s, 1.25s));
//   @include animation-duration((1.25s, 1.25s, 6.25s));
// }
//
// @include keyframes(bang) {
//   to {
//     box-shadow:$box-shadow;
//   }
// }
//
// @include keyframes(gravity)  {
//   to {
//     @include transform(translateY(200px));
//     opacity: 0;
//   }
// }
//
// @include keyframes(position) {
//   0%, 19.9% {
//     margin-top: 10%;
//     margin-left: 40%;
//   }
//   20%, 39.9% {
//     margin-top: 40%;
//     margin-left: 30%;
//   }
//   40%, 59.9% {
//     margin-top: 20%;
//     margin-left: 70%
//   }
//   60%, 79.9% {
//     margin-top: 30%;
//     margin-left: 20%;
//   }
//   80%, 99.9% {
//     margin-top: 30%;
//     margin-left: 80%;
//   }
// }
