@import '~bootstrap/scss/bootstrap';

$body-bg-color: #92a8d1;
$box-color: #f7786b;
$box-hover: #f7cac9;
$dark: #034f84;
$light: #f9d5e5;
$link: #0964a5;
$link-hover: #bc5a45;
$orange: #f2a515;

a {
  color: $link;
  text-decoration: underline;
  &:hover {
    color: $link-hover;
  }
}

body {
  background-color: $body-bg-color;
  color: $dark;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}

button {
  margin: 10px;
}

figcaption {
  font-size: .9rem;
}

footer {
  bottom: 0;
  margin: 0 auto;
}

h1 {
  font-family: 'Sawarabi Gothic', sans-serif;
  padding-top: 12px;
}

input {
  padding-bottom: 3px;
}

.auth-forms {
  margin: 0 auto;
  width: 50vh;
}

.box {
  align-items: center;
  background-color: $box-color;
  border: 1px solid $light;
  color: $light;
  display: flex;
  font-size: 2rem;
  height: 15vh;
  justify-content: center;
  &:nth-child(n) {
    background-color: $orange;
  }
  &:hover {
    background-color: $box-hover;
    color: $dark;
    transition: .3s;
  }
}

.box-small {
  align-items: center;
  background-color: $box-color;
  border: 1px solid $light;
  color: $light;
  display: flex;
  font-size: 2rem;
  height: 7vh;
  justify-content: center;
}

.btn-game {
  background-color: $light;
  color: $dark;
  margin-top: 3px;
  &:hover {
    color: $link;
  }
}

.container {
  justify-content: center;
  margin: 0 auto;
}

.container-small {
  justify-content: center;
  margin: 0 auto;
}

.footer {
  font-size: .8rem;
  margin: 0 50vh;
  padding: 10px;
}

.game-forms {
  margin: 0 auto;
  width: 21vh;
}

.gameboard {
  width: 45vh;
}

.gameboard-small {
  width: 15vh;
}

.img-wrapper {
  background: $secondary;
  border-radius: 20px;
  color: $light;
  margin: 0 auto;
  padding: 15px;
  padding-bottom: 10px;
  width: 55vh;
}

.nav {
  justify-content: center;
}

.row {
  align-content: center;
  border: 1px solid $light;
  justify-content: center;
}

.wrapper {
  margin: 0 auto;
}

#game-buttons {
  margin-top: 5px;
}

#sign-out {
  display: inline;
}

@media only screen and (max-width: 900px) {
  .footer {
    margin: 0 10vh;
  }
}
